body {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('warriors_background_main.jpg');
  background-position: center;

}

#shotchart {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
    font-size: 21px;
    color: white;
    text-shadow: 3px 3px black;
}

#select-filters {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

#season-slider-container {
  display: flex;
  flex-direction: column;
  margin-right: 132px;
}

#player-selector-container {
  display: flex;
  flex-direction: column;
}

svg {
  border: 1px solid blue;
  border-radius: 5px;
}

#shotchart-canvas {
  background: url('141_golden_state-warriors-stadium-2012.png');

}

#svg-canvas {
  display: flex;
  justify-content: space-around;
}

.shot {

}


.playerName {
  color: yellow;
  font-size: 20px;
}

#season-slider {
  cursor: pointer;
}

#selected-player {
  padding: 5px;
  cursor: pointer;
}

#bubble-chart-canvas {
  position: relative;
}

.bubble-chart-node:hover {
  stroke: yellow;
  cursor: pointer;
}

.tooltip {
  border-radius: 5px;
  border: 1px solid yellow;
  background-color: blue;
}

.linkedin-github {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin {
  background: url('linkedin.png');
  background-position: center;
  width: 65px;
  height: 65px;
  background-size: cover;
  border-radius: 5px;
  margin-right: 132px;
}

.linkedin:hover {
  border: 1px solid yellow;
  opacity: .8;
}

.github {
  background: url('github-mark.png');
  background-position: center;
  width: 65px;
  height: 65px;
  background-size: cover;
  border-radius: 50%;
}

.github:hover {
  border: 1px solid yellow;
  opacity: .8;

}
